.menu-container{
   
   margin-top: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;

}
.menu{
  border-top:10px solid rgb(119, 114, 114);
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 20px;
}

.restaurant-info-container{
  
  margin-top: 40px;
  width: 80%;
  margin-bottom: 40px;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.restaurant-image-container{
  width:300px;
  height: 250px;
  object-fit: cover; 
}

.restaurant-image-container > img{
  width: 100%;
  height: 100%;
  border-radius: 10px;  
}

.restaurant-name-container{
  display: flex;
  gap: 15px;
}
.name-info-area-container{
display: flex;
flex-direction: column;
justify-content: space-between;
}

.name-info-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.name-heading{
  font-size: 1.9rem;
}

.info-text{
  color: dimgrey;
}

.area-distance{
  display: flex;
  gap: 10px;
}

.restaurant-ratings-container{
  align-self: flex-end;
  
  margin-right: 15px;
  
}


/* this is for the dish cards */

.dish-container{
  display: flex;
  border-bottom: 1px solid rgb(177, 172, 176);
  width: 100%;
  height: 150px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 20px;
  
}

.dish-info-container{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  
  
}

.dish-info-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 65%;
  margin-top: 5px;
}

.dish-info-container > div{
  font-size: 1.1rem;
}


.dish-image-container{
  position: relative;
  width: 180px;
  height: 120px;
}
.dish-image-container > img{
  
  width: 100%;
  height: 100%;
  object-fit:cover ;
  border-radius: 5px;
}

.add-button{
  position: absolute;
  bottom: -7;
  left: 50px;
  right:50px;
  border-style: none;
  font-size: 0.9rem;
  height: 30px;
  color: rgb(35, 221, 35);
  background-color: white;
  border: 0.8px solid rgb(35, 221, 35);
  cursor: pointer;

}

.add-button:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}